Plots
TMVA/Plots
TMVA/results
TMVA/dataset

*d
*so
*pcm

TMVA/*d
TMVA/*so
TMVA/*pcm

hists_data.root
hists_mc.root
tagger_templates.root
TMVA/*.root
TMVA/n_events_predictions.txt
TMVA/event_level_efficiency.txt

.__*
TMVA/.__*